# --- 机器人基础账号配置 ---
MY_BOT_QQ=
DEVELOPING_NUMBER=

# --- API KEY (严禁上传到 Git) ---
# 提示：等号两边不要有空格，值不需要加引号（除非值本身包含空格）
DEEP_SEEK_API_KEY=
QWEN_API_KEY=
SILICONFLOW_API_KEY=
DAW_API_KEY=


# --- 网络配置 ---
# 如果是在本地运行，设为 http://127.0.0.1:3000
# 如果是在 Docker 里运行，设为 http://napcat:3000
NAPCAT_API=

# --- 运行模式 ---
DEBUG_MODE=False
WARM_MODE=False